cache
*.swp
*.tmp
*.log
log
*.error
state
gpg.rc
*.torrent
history
*.history
*.errors
*.o
xmonad-x86_64-linux
.xmonad/scripts/Unused
arthurcurryjv
braga.logan
hcache
logancrossing
marielleframboise
.mutt/mail
history.*
.DS_Store
.vim/bundlew
.vim/view
.vim/bundle
